.header {
  padding: 20px 0;
  background: #fff;
}
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .nav {

    }
      .link {
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 20px;
        font-size: 18px;
      }
      .link:hover {
        text-decoration: underline;
      }
    .profilele {
      display: flex;
      align-items: center;
    }
      .avatar {
        margin-right: 15px;
      }
      .logout {
        background: transparent;
        border: none;
        cursor: pointer;
      }
        .logoutIcon {
          width: 30px;
        }
